#checkboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form-check {
    width: 20%;  /* adjust this percentage to control the number of checkboxes per line */
    padding: 5px;
}

#year-display {
    font-size: x-large;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid line {
    stroke: #ccc;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

h5 {
    margin-left: 40px;
}

.page-body {
    margin-left: 80px;
    margin-right: 100px;
}


