#year-display {
    font-size: x-large;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
}

.grid line {
    stroke: #ccc;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

